$base-font-size: 14px;

$primary: #202020;
$secondary: #121212;
$white: #ffffff;
$red: #ed3024;
$blue: #3147c9;
$black: #000000;
$light: #D2D2D2;

$z-index-sidebar: 100;
$z-index-header: 100;
$z-index-modal: 110;

$sidebar-width: 300px;

$tablet-bp: 991px;
$mobile-bp: 575px;